# e-mail for let's encrypt
EMAIL=example@example.com

# domain for let's encrypt
DOMAIN=social.example.com
DOMAIN_MEDIA=media.example.com

# Cloudflare DNS Auth
CLOUDFLARE_EMAIL=
CLOUDFLARE_TOKEN=

# Object Storage
S3_REGION=
S3_NAMESPACE=
S3_BUCKET=

# echo $(htpasswd -nb admin password) | sed -e s/\\$/\\$\\$/g
TRAEFIK_DASHBOARD_ADMIN_PASSWORD=